<h1>Add a new sticker</h1>
<a href="/">Home</a><br>

<form class="" action="index.html" method="post">
  Sticker Name:<br>
  <input type="text" name="Sticker Name" value=""><br>
  Sticker Description:<br>
  <input type="text" name="Sticker description" value=""><br>
  <button type="submit" name="button">Submit</button>
</form>
